@mixin mobile{
    @media screen and (max-width: 480px) {
        @content;
    }
}
@mixin tablet{
    @media screen and (max-width: 768px) {
        @content;
    }
}
@mixin laptop{
    @media screen and (max-width: 1200px) {
        @content;
    }
}

.formContainer {
    background-color: #a7b6ff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .formWrapper {
        background-color: white;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        .logo {
            color: #5d5b8d;
            font-weight: bold;
            font-size: 24px;
        }

        .title {
            color: #5d5b8d;
            font-size: 12px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;

            input {
                padding: 10px;
                border: none;
                width: 250px;
                border-bottom: 1px solid #a7b6ff;

                &::placeholder {
                    color: rgb(175, 175, 175);
                }
                &:focus{
                    outline: none;
                }
            }

            label {
                display: flex;
                align-items: center;
                color: #8da4f1;
                cursor: pointer;
                gap: 10px;

                img {
                    width: 32px;
                }

                span {
                    font-size: 12px;
                }
            }

            button {
                background-color: #7b96ec;
                color: white;
                border: none;
                padding: 10px;
                cursor: pointer;
            }
        }

        p {
            color: #5d5b8d;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #a7b6ff;

    .container {
        border: 1px solid whitesmoke;
        border-radius: 10px;
        width: 70%;
        height: 80%;
        display: flex;
        overflow: hidden;
    }

    .sidebar {
        flex: 1;
        background-color: #f0f2f5;
        min-width: 250px;
        @include tablet{
            min-width: 250px;
        }
        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #f0f2f5;
            border-right: 1px solid lightgray;
            height: 50px;
            padding: 10px;
            color: #54656f;
        }
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin: 2px 10px 0px 10px;
            object-fit: cover;
        }

        .user {
            display: flex;
            align-items: center;
            gap: 10px;

            .icons{
                svg{
                    height: 1.5rem;
                    width: 1.5rem;
                    padding: 5px;
                    margin-left: 10px;
                    cursor: pointer;
                }
            }

        }
        .search{
            background-color: white;
            padding: 10px;
            .searchForm{
                background-color: #f0f2f5;
                padding: 5px;
                border-radius: 5px;
                display: flex;
                align-items:center;
                justify-content: center;
                .searchIcon{
                    margin: 5px 10px 0 5px;
                }
                .cancleIcon{
                    margin: 3px 5px 0 0;
                    cursor: pointer;
                }
                input{
                    width: 90%;
                    height: 30px;
                    border: none;
                    background-color: #f0f2f5;
                    font-size: 16px;

                    &::placeholder{
                        font-size: 14px;
                    }
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
        .chatResult{
            .error{
                text-align: center;
                padding: 20px;
            }
            .loader{
                text-align: center;
                img{
                    height: 50px;
                    width: 70px;
                }
            }
            .userChats{
                display: flex;
                flex-direction: column;
                align-items: center;
                .chatHeading{
                    margin-bottom: 5px;
                    border-bottom: 1px solid lightgray;
                    border-width: 100%;
                }
                div{
                    display: flex;
                    flex-direction: row;
                    align-self: flex-start;
                    .userName{
                        margin-top: 10px;
                    }
                }
            }
        }
        .userChats{
            background-color: white;
            padding: 10px;
            display: flex;
            align-items:flex-start;
            margin-top: 2px;
            cursor: pointer;

            .userChatInfo{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                flex-grow: 2;
                gap: 2px;
                span{
                    font-size: 16px;
                }
                p{
                    font-size: 14px;
                    color: #667781;
                    display: flex;
                    align-items: center;
                    svg{
                        height: 20px;
                        width: 20px;
                        margin-right: 5px;
                        color: #53bdeb;
                    }
                }
            }
            p{
                font-size: 14px;
                color: #667781;
            }
            &:hover{
            background-color: #f0f2f5;

            }
        }
    }

    .chat {
        flex: 2;
        
        @include tablet{
            min-width: 300px;
        }
        .chatInfo{
            .userChats{
                background-color: #f0f2f5;
                padding: 10px;
                display: flex;
                height: 50px;
                align-items:center;
                @include tablet{
                    align-items: center;
                }
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin: 2px 10px 0px 10px;
                    object-fit: cover;
                }
                .userChatInfo{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    flex-grow: 2;
                    gap: 2px;
                    span{
                        font-size: 16px;
                    }
                    p{
                        font-size: 14px;
                        color: #667781;
                        display: flex;
                        align-items: center;
                        svg{
                            height: 20px;
                            width: 20px;
                            margin-right: 5px;
                            color: #53bdeb;
                        }
                    }
                }
                img{
                    height: 40px;
                    width: 40px;
                    cursor: pointer;
                }
            }
        }
        .messages{
            background-image: url(../src/Images/background.png);
            background-size:contain;
            padding: 10px;
            height: calc(100% - 150px);
            overflow-y: scroll;
            .message{
                display: flex;
                gap: 10px;
                .messageContent{
                    padding: 5px;
                    margin: 5px;
                    height: fit-content;
                    background-color: white;
                    color: black;
                    font-size: 14px;
                    border-radius: 0 5px 5px 5px;
                    display: flex;
                    max-width: 70%;
                    p{
                        margin-right: 15px;
                    }
                    span{
                        font-size:10px;
                        color: #667781;
                        text-align: right;
                        align-self: flex-end;
                    }
                        .singleTick{
                            svg{
                                color: #a2a2a2;
                            }
                        }
                    svg{
                        display: flex;
                        align-self: flex-end;
                        color: #53bdeb;
                        height: 20px;
                        width: 20px;
                    }
                }
                &.owner{
                    display: flex;
                    flex-direction: row-reverse;
                    .messageContent{
                        background-color: #d9fdd3;
                        border-radius: 5px 0 5px 5px;
                    }
                }
            }
        }
        .input{
            height: 60px;
            background-color: #f0f2f5;
            display: flex;
            align-items: center;
            border-left: 1px solid lightgray;
            
            div{
                padding: 10px;
                svg{
                    height: 25px;
                    width: 25px;
                    cursor: pointer;
                }
            }
            label{
                padding: 10px;
                svg{
                    height: 25px;
                    width: 25px;
                    cursor: pointer;
                }
            }
            input{
                display: flex;
                flex-grow: 2;
                width: 90%;
                height: 40px;
                border: none;
                background-color: white;
                border-radius: 5px;
                font-size: 16px;
                padding-left: 10px;

                &::placeholder{
                    font-size: 14px;
                }
                &:focus{
                    outline: none;
                }
            }
        }
    }
}